*{
    box-sizing: border-box;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
}
.main-content>*{
    width :23%;
}

.thumbnails-img{
    object-fit: cover;
} 
.thumbnails{
    
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 20px;

}
.content{
    display: flex;
    align-items: top;
    
}
.profile-picture{
    height: 50px;
    margin-top: 20px ;
    margin-right: 20px;
    border-radius: 50%;
}
.content-title{
    font-weight: bold;
}
.content-creator{
    font-size: 0.8em;
    margin-bottom: 4px;
    color : #606060;

}
.content-report{
    font-size: 0.8em;
    margin-top: 0px;
    color : #606060;
}
@media (max-width:1125px) {
    .main-content>*{
        width :31%;
    }
}
@media (max-width:946px) {
    .main-content>*{
        width :44%;
    }
}
@media (max-width:600px) {
    .main-content>*{
        width :90%;
    }
}