.side-nav{
    width: 72px;
    position:fixed;
    left:0;

}

.nav-list>p{
    font-size: 0.7em;
   
}
.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

