*{
    box-sizing: border-box;
}
body{
   
    font-family:  Monospace;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.image-container{
    height: 40em;
    width: 60%;
    max-width: 1000px;    
    background-size: cover;
    background-image: url('Images/Image1.jpg');
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 0 0 5px 5px rgb(70, 56, 56);
    border-radius: 5%;
    animation: slider ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: linear;
}
h1{
   text-align: center;
}

@keyframes slider{
    15% {
       background-image: url('Images/Image2.jpg');
    }
    30% {
        background-image: url('Images/Image3.jpg');
    }
    45% {
        background-image: url('Images/Image4.jpg');
    }
    60% {
        background-image: url('Images/Image5.jpg');
    }
    77% {
        background-image: url('Images/Image6.jpg');
    }
    100%{
        background-image: url('Images/Image7.jpg');
    }
}